config SHIELD_SCORN_LEFT
    def_bool $(shields_list_contains,scorn_left)

# No whitespace after the comma or in your part name!
config SHIELD_SCORN_RIGHT
    def_bool $(shields_list_contains,scorn_right)