#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  158 (-1200)    50   208>
            , <&key_physical_attrs 100 100   98  136 (-1200)   148   186>
            , <&key_physical_attrs 100 100  204   53  (-600)   254   103>
            , <&key_physical_attrs 100 100  309    0  (-300)   359    50>
            , <&key_physical_attrs 100 100  421   35       0     0     0>
            , <&key_physical_attrs 100 100  521   47       0     0     0>
            , <&key_physical_attrs 100 100 1039   47       0     0     0>
            , <&key_physical_attrs 100 100 1139   35       0     0     0>
            , <&key_physical_attrs 100 100 1251    0     300  1301    50>
            , <&key_physical_attrs 100 100 1356   53     600  1406   103>
            , <&key_physical_attrs 100 100 1462  136    1200  1512   186>
            , <&key_physical_attrs 100 100 1560  158    1200  1610   208>
            , <&key_physical_attrs 100 100   20  256 (-1200)    70   306>
            , <&key_physical_attrs 100 100  118  234 (-1200)   168   284>
            , <&key_physical_attrs 100 100  214  152  (-600)   264   202>
            , <&key_physical_attrs 100 100  314  100  (-300)   364   150>
            , <&key_physical_attrs 100 100  421  135       0     0     0>
            , <&key_physical_attrs 100 100  521  147       0     0     0>
            , <&key_physical_attrs 100 100 1039  147       0     0     0>
            , <&key_physical_attrs 100 100 1139  135       0     0     0>
            , <&key_physical_attrs 100 100 1246  100     300  1296   150>
            , <&key_physical_attrs 100 100 1346  152     600  1396   202>
            , <&key_physical_attrs 100 100 1442  234    1200  1492   284>
            , <&key_physical_attrs 100 100 1540  256    1200  1590   306>
            , <&key_physical_attrs 100 100   39  353 (-1200)    89   403>
            , <&key_physical_attrs 100 100  137  331 (-1200)   187   381>
            , <&key_physical_attrs 100 100  223  252  (-600)   273   302>
            , <&key_physical_attrs 100 100  319  200  (-300)   369   250>
            , <&key_physical_attrs 100 100  421  235       0     0     0>
            , <&key_physical_attrs 100 100  521  247       0     0     0>
            , <&key_physical_attrs 100 100 1039  247       0     0     0>
            , <&key_physical_attrs 100 100 1139  235       0     0     0>
            , <&key_physical_attrs 100 100 1241  200     300  1291   250>
            , <&key_physical_attrs 100 100 1336  252     600  1386   302>
            , <&key_physical_attrs 100 100 1422  331    1200  1472   381>
            , <&key_physical_attrs 100 100 1520  353    1200  1570   403>
            , <&key_physical_attrs 100 100  404  385  (-500)   454   435>
            , <&key_physical_attrs 100 100  532  385     500   582   435>
            , <&key_physical_attrs 100 100  660  415    1800   710   465>
            , <&key_physical_attrs 100 100  900  415 (-1800)   950   465>
            , <&key_physical_attrs 100 100 1028  385  (-500)  1078   435>
            , <&key_physical_attrs 100 100 1156  385     500  1206   435>
            ;
    };
};